<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Header</title>
</head>
<body>
  <main>
    <div>
      <p><a href="/"><span class="icon icon-logo"></span>Chevron Lubricants</a></p>
    </div>
    <div>
      <ul>
        <li>
          <p><a href="/products">Products</a></p>
          <a href="/fragments/nav/products">Products</a>
        </li>
        <li>
          <p><a href="/our-expertise">Our Expertise</a></p>
          <a href="/fragments/nav/our-expertise">Our Expertise</a>
        </li>
        <li>
          <p><a href="/where-to-buy">Where to buy</a></p>
          <a href="/fragments/nav/where-to-buy">Where to buy</a>
        </li>
        <li>
          <p><a href="/services-and-support">Services and Support</a></p>
          <a href="/fragments/nav/services-and-support">Services and Support</a>
        </li>
        <li>
          <p><a href="/products-selector">Products selector</a></p>
          <a href="/fragments/nav/products-selector">Products selector</a>
        </li>
      </ul>
    </div>
    <div>
      <p><a href="/tools/widgets/scheme"><span class="icon icon-scheme"></span>Toggle color scheme</a></p>
      <p><a href="/tools/widgets/language"><span class="icon icon-globe"></span>Change language</a></p>
      <p><a href="/tools/widgets/toggle"><span class="icon icon-toggle"></span>Toggle menu</a></p>
    </div>
  </main>
</body>
</html>
